.DS_Store
# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files (e.g., VS Code)
.vscode/

protocols_for_me/

settings.json

data/


